.orderItemContainer{
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.orderImgContainer{
    width: 30%;
    height: 80px;
    overflow: hidden;
    text-align: center;
}
.orderImg{
    max-width: 80px;
    max-height: 80px;
}
.orderRow{
    display: flex;
    margin-bottom: 10px;
}
.orderName{
    min-width: 200px;
    box-sizing: border-box;
}
.orderPrice{
    min-width: 200px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.orderedItemTitles {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #a1a1a1;
}

.grow {
    flex-grow: 1;
}