.overview {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	position: absolute;
	width: calc(60% - 60px);
	top: 25%;
	left: 20%;
	
	background: rgba(30, 96, 145, 0.95);
	color: rgba(255, 255, 255, 0.9);
	box-shadow: 10px 20px 5px 10px rgba(217, 237, 146, 0.8);
	-webkit-box-shadow: 10px 20px 5px 10px rgba(217, 237, 146, 0.8);
	
	outline: none;
	border: none;
	border-radius: 10px;
    line-height: 1.5;
	margin: 0 auto;
	padding: 20px 30px;
}

.innerContainer {
	text-align: left;
    padding: 0px 4%;
	width: 40%;
}

.innerContainer > ol {
	list-style-type: none;
	padding-left: 0;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

.innerContainer:first-of-type {
    border-right: 5px solid whitesmoke;
}

.title {
    letter-spacing: 3px;
    text-transform: uppercase;
}
